body {
  max-width: 1000px;
  margin: auto;
}

.search {
  background: rgba(0, 0, 0, 0.5) !important;
  border: 4px #fff solid !important;
  margin-top: 1rem !important;
  padding: 2rem !important;
  color: white;
}

.label {
  color: black;
}
